
.Input-essay
{
    text-align: center;
    box-align: center;
    background-color: #FFF0F5;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
}

.result
{
    align-items: right;
}

.form-box
{
    background-color: rgb(255, 255, 255);
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 1px #888888;
}