*{
  margin: 0;
  padding: 0;

}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style:none;
}
body{
  font-family: 'Nunito', sans-serif;  
};


.App-logo{
  width: min-content;
  height: 10px;
  align-content: top;
}

.home,
.quiz,
.userdash,
.blog {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.wholepage
{
  background-color: beige;
}